{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
{% include "components/navbar.html.twig" %}
<div class="hero-section">
</div>
    <div class="content">
        <h1>Upcoming events</h1>
        <div class="create">
            <a href="{{ path('app_events_new') }}">Create new event</a>
        </div>
        <div class="filter">
            <label for="type">Select type of the event:</label>
            <br>
            <br>
                <select>
                <option value="all">All Events</option>
                {% for allEvent in allEvents %}
                <option href="{{ path('app_events_index', { fk_type_id: allEvent.name})}}">{{ allEvent.name}}</option>
                {% endfor %}
                </select>
        </div>

        <div class="grid-container">
            {% for event in events %}
                <div class="card">
                    <img src="{{asset('images/'~ event.image)}}" alt="card-image">
                    <div class="card-content">
                            <h3>{{ event.name }}</h3>
                        <p>When: {{ event.dateTime ? event.dateTime|date('Y-m-d') : '' }}</p>
                        <div class="buttons">
                            <a href="{{ path('app_events_show', {'id': event.id}) }}">Details</a>
                            <a href="{{ path('app_events_edit', {'id': event.id}) }}">Edit</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>No records found<p>
            {% endfor %}
        </div>
    </div>

    {% include "components/footer.html.twig" %} 

{% endblock %}
