{% extends 'base.html.twig' %}

{% block title %}Events index{% endblock %}

{% block body %}
{% include "components/navbar.html.twig" %}
    <div class="content">
        <h1>Upcoming events</h1>
        <div class="create">
            <a href="{{ path('app_events_new') }}">Create new event</a>
        </div>

        <div class="grid-container">
            {% for event in events %}
                <div class="card">
                    <img src="{{ event.image }}" alt="card-image">
                    <div class="card-content">
                        <h3>{{ event.name }}</h3>
                        <p>When: {{ event.dateTime ? event.dateTime|date('Y-m-d') : '' }}</p>
                        <div class="buttons">
                            <a href="{{ path('app_events_show', {'id': event.id}) }}">Details</a>
                            <a href="{{ path('app_events_edit', {'id': event.id}) }}">Edit</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>No records found<p>
            {% endfor %}
        </div>
    </div>

    {% include "components/footer.html.twig" %}
{% endblock %}
