{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
{% include "components/navbar.html.twig" %}
<div class="hero-section">
</div>
    <div class="container">
        <h1>Event Details</h1>
        <img class="event-image" src="{{asset('images/'~ event.image)}}" alt="Event Image">
        <div class="details">

            <div class="label">Event ID:</div>
            <div class="value">{{ event.id }}</div>
            <div class="label">Event name:</div>
            <div class="value">{{ event.name }}</div>
            <div class="label">Event type:</div>
            <div class="value">{{ type.name }}</div>
            <div class="label">Date:</div>
            <div class="value">{{ event.dateTime ? event.dateTime|date('Y-m-d') : '' }}</div>
            <div class="label">Description:</div>
            <div class="value">{{ event.description }}</div>
            <div class="label">Capacity:</div>
            <div class="value">{{ event.capacity }} people</div>
            <div class="label">Contact Email:</div>
            <div class="value">{{ event.email }}</div>
            <div class="label">Contact Phone number:</div>
            <div class="value">{{ event.phoneNumber }}</div>
            <div class="label">Address:</div>
            <div class="value">{{ event.address }}</div>
            <div class="label">Visit event website:</div>
            <div class="value"><a href="">{{ event.url }}</a></div>
        </div>
        <div class="actions">
            <a class="back" href="{{ path('app_events_index') }}">Back to all events</a>
            <a class="edit" href="{{ path('app_events_edit', {'id': event.id}) }}">Edit</a>
        </div>

        {{ include('events/_delete_form.html.twig') }}

    </div>

    {% include "components/footer.html.twig" %}
{% endblock %}
